* {
    margin: 0; 
    padding: 0;
    overflow: hidden;
}

body {
    height: 100vh;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#shape {
    border-radius: 100%;
    width: 10rem; 
    height: 10rem; 
    border: solid black 3px ; 

    display: flex;
    justify-content: center;
    align-items: center ; 

    margin-top: 3rem;
    margin-bottom: 3rem;
}

.ans {
    font-size: 2rem;
    font-weight: bolder;
}
